@page "/ConsultaLlamada"
@using SegundoParcialAp2.Models;
<h3>Consulta de Llamadas</h3>
<table class="table">
    <thead class="thead-light">
        <tr>
            <th>Id</th>
            <th>Descripcion</th>
            <th>Cantidad de problemas</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in lista)
        {
        <tr>
            <th>@item.LlamadaId</th>
            <th>@item.Descripcion</th>
            <th>@item.Detalles.Count()</th>
            <td><a class="btn btn-sm btn-outline-primary" href="RegistroInscripcion/@item.LlamadaId">Ver</a></td>
        </tr>
        }
    </tbody>
</table>


@code {


    public List<Llamada> lista;
    protected override void OnInitialized()
    {
        lista = new List<Llamada>();
    }
}